@{
    ViewData["Title"] = "Start";
}

<div class="video-background">
    <video autoplay muted loop id="video-background">
        <source src="/videos/intro2.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
    <div class="overlay">
        <div class="container">
            <div class="content">
                <img class="trans" src="images/logo.png" alt="logo"/>
                <div class="buttons">
                    <a asp-controller="Account" asp-action="Register">
                       <img src="/images/register2.png" alt="Register" class="button-image" />
                    </a>
                    
                    <a asp-controller="Account" asp-action="SignIn">
                       <img src="/images/login2.png" alt="Login" class="button-image"/>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

@section Styles {
    <link href="@Url.Content("/css/Startpage.css")" rel="stylesheet" type="text/css" />
}
