/* Set background image for the entire page */
body {
    margin: 0;
    overflow: hidden;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh; /* Set body height to cover the entire viewport */
}

.logo-container {
    display: flex;
    align-items: center;
    justify-content: left;
}

/* Styling for the smiley circle */
.logo {
    background-color: yellow;
    border-radius: 50%;
    cursor: pointer;
    margin: 10px;
    width: 60px;
    height: 60px;
}

    .logo:hover {
        background-color: rgba(255, 0, 0, 0.3);
    }


/* Styling for the navigation items */
.nav-items {
    display: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
    
}

    .nav-items li {
        display: inline-block;
        padding: 10px;
        text-decoration: none;
    }

/* Show navigation items when hovering over the smiley circle */
.logo-container:hover .nav-items,
.logo-container:hover + .login-partial {
    display: block;
}

