body {
    margin: 0;
    overflow: hidden;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-left {
    width: 100px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-right {
    margin: 0 10px;
}

ul {
    padding-left: 5.2rem;
}

.nav-center {
    flex-grow: 1;
    text-align: center;
}

    .nav-center ul {
        margin: 0;
        list-style: none;
    }

        .nav-center ul li {
            display: inline;
            margin: 0 10px;
        }

.logo {
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
}


.nav-img {
    width: 88px;
    height: 55px;
}

.nav-img-s {
    width: 88px;
    height: 55px;
}

.nav-img-l {
    width: 150px;
    height: 50px;
}

.dragonball {
    position: absolute;
    left: 50%;
    width: 75px;
    transform: translateX(-50%);
    animation: spin 10s infinite linear;
}

@keyframes spin {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

section {
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F3E0BE;
    border-radius: 20px;
    width: 1400px;
    height: 430px;
}

.howtoplayheader{
   display: flex;
   justify-content: center;
}

.howtoplay{
    width: 350px;
    height: 100px;
}

.train-img{
    width: 79px;
    height: 45px;
}

.leaderboard-img {
    width: 150px;
    height: 50px;
}

.shop-img {
    width: 79px;
    height: 50px;
}

.stats-img {
    width: 79px;
    height: 45px;
}

.howtoplaytext {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 80px;
    margin-right: 80px;
    text-align: center;
    
}

#howToPlaySection {
    position: relative;
    padding-bottom: 50px; /* Ensure there is space for the button */
}

.toggle-button {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
}

