body {
    margin: 0;
    overflow: auto; 
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-left {
    width: 100px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-right {
    margin: 0 10px;
}

.nav-center {
    text-align: center;
}

    .nav-center ul {
        display: flex;
        margin: 0;
        align-items: center;
        list-style: none;
    }

        .nav-center ul li {
            display: inline;
            margin: 0 10px;
        }

.logo {
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
}


.nav-img {
    width: 88px;
    height: 55px;
}

.nav-img-s {
    width: 88px;
    height: 55px;
}

.nav-img-l {
    width: 150px;
    height: 50px;
}

.dragonball {
    position: absolute;
    left: 50%;
    width: 75px;
    transform: translateX(-50%);
    animation: spin 10s infinite linear;
}

a:hover {
    transform: scale(1.05);
}

.trans:hover {
    transform: scale(1.05);
}

@keyframes spin {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

section {
    border: 1px solid black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F3E0BE;
    border-radius: 20px;
    width: 1400px;
    min-height: 450px;
}

.howtoplayheader{
   display: flex;
   justify-content: center;
}

.howtoplay{
    width: 350px;
    height: 100px;
}

.train-img{
    width: 79px;
    height: 45px;
}

.leaderboard-img {
    width: 150px;
    height: 50px;
}

.shop-img {
    width: 79px;
    height: 50px;
}

.stats-img {
    width: 79px;
    height: 45px;
}

.howtoplaytext {
    margin-top: 15px;
    font-weight: bold;
    margin-left: 250px;
    margin-right: 250px;
    text-align: center;
    
}

#howToPlaySection {
    max-height: 80vh;
    overflow-y: auto;
}

.toggle-button {
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    outline: none;
    padding-right: 55px;
}

article {
    border: 1px solid black;
    margin: auto;
    background-color: #F3E0BE;
    border-radius: 20px;
    width: 1400px;
    min-height: 450px;
    display: flex;
    justify-content: space-between;
}

.left-side {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 30%
}

.right-side {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-left: 1px solid black;
    width: 70%
}

.left-side img.stats-img-l, img.inventory-icon {
    display: block;
    margin: auto;
}

.stats{
    margin-left: 20px;
    font-size: 20px;
    font-weight: bold;
}

.left-side .stats {
    margin-top: 20px;
}

.button-action {
    background-color: transparent;
    border: none;
    padding: 0;
    cursor: pointer;
}

.buttons {
    margin-top: auto;
    text-align: center;
    margin-bottom: 10px;
}

.button-action img.nav-img {
    height: 50px;
}

.stats-img-l {
    width: 120px;
    height: 60px;
}

.exp{
    height: 50px;
}

.zeni {
    height: 50px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
}

.item, .player {
    height: 55px;
}

.positive-event, .negative-event {
    height: 75px;
}

.name {
    font-size: 25px;
    text-align: center;
    width: 95%;
    color: yellow;
    text-shadow: 2px 2px 2px red, 3px 3px 3px black;
    transition: background-color 0.3s;
}

.game {
    margin-left: 15px;
    text-align: center;
    margin: auto;
}

.button-container{
    text-align: center;
}

.image-button{
    width: 140px;
    height: 80px;
}

.logo-guide {
    margin-right: 100px;
}

h2 {
    font-size: 30px;
    width: 70%;
    margin: auto;
    margin-bottom: 30px;
}

h1{
    font-weight: bold;
}

.inventory-icon {
    height: 50px;
   
}

.center-text {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin-left: -40px;
}

.tool{
    height: 50px;
    width: 45px;
}

.armor {
    height: 40px;
    width: 40px;
}

.food {
    height: 40px;
    width: 40px;
}

.middle {
    margin-left: 150px;
}

.witouthgear {
    width: 80%;
    margin: auto;
    font-size: 18px;
}