body {
    margin: 0;
    overflow: auto;
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

nav {
    width: 100%;
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-left {
    width: 100px;
    height: 20px;
    margin: 0 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.nav-right {
    margin: 0 10px;
}

ul {
    padding-left: 5.2rem;
}

.nav-center {
    text-align: center;
}

    .nav-center ul {
        display: flex;
        margin: 0;
        align-items: center;
        list-style: none;
    }

        .nav-center ul li {
            display: inline;
            margin: 0 10px;
        }

.logo {
    border-radius: 50%;
    margin: 10px;
    width: 100px;
    height: 100px;
}


.nav-img {
    width: 88px;
    height: 55px;
}

.nav-img-s {
    width: 88px;
    height: 55px;
}

.nav-img-l {
    width: 150px;
    height: 50px;
}

.dragonball {
    position: absolute;
    left: 50%;
    width: 75px;
    transform: translateX(-50%);
    animation: spin 10s infinite linear;
}

@keyframes spin {
    0% {
        transform: translateX(-50%) rotate(0deg);
    }

    100% {
        transform: translateX(-50%) rotate(360deg);
    }
}

section {
    border: 1px solid black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F3E0BE;
    border-radius: 20px;
    width: 1400px;
    min-height: 450px;
    margin-bottom: 50px;
}

.center{
    text-align: center;
}

.attack-header{
    height: 80px;
}

.defense-header {
    height: 80px;
}

.ki-header {
    height: 80px;
}

.decorative-header {
    height: 80px;
}

button {
    background-color: navajowhite;
    width: 100%;
    border-radius: 20px;
    border: 0.5px solid;
}

    button:hover {
        transform: scale(1.05);
    }

.buy{
    height: 40px;
    width: 70px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; 
}

    .item h3 {
        margin: 0 0 10px 0;
        font-weight: bold;
        color: black;
    }

    .item p {
        font-weight: bold;

    }

.ki{
    width: 40px;
    height: 40px;
}

.attack {
    height: 40px;
}

.defense {
    height: 40px;
}

.price {
    height: 40px;
}

.cooldown {
    height: 40px;
}

a:hover {
    transform: scale(1.05);
}

.trans:hover{
    transform: scale(1.05);
}

.inventory{
    height: 75px;
}

.center{
    text-align: center;
}

.tool {
    height: 50px;
    width: 45px;
}

.armor {
    height: 40px;
    width: 40px;
}

.food {
    height: 40px;
    width: 40px;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 20px;
}

.item {
    border: 2px solid black;
    padding: 20px;
    border-radius: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}

    .item h3 {
        margin: 0 0 10px 0;
        font-weight: bold;
        color: black;
    }

    .item p {
        font-weight: bold;
    }

.row-items {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 15px;
}

.editplayer{
    height: 80px;
}

.form-label {
    font-weight: bold;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 200px;
    margin: 0 auto;
}

    .form-container form {
        width: 100%;
    }

    .form-container button:hover {
        transform: scale(1.05);
    }

.save{
    height: 40px;
    width: 70px;
}

.sectionplayer {
    border: 1px solid black;
    margin: auto;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #F3E0BE;
    border-radius: 20px;
    width: 350px;
    height: 275px;
    margin-bottom: 50px;
}
