body {
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url('/images/background2.jpg');
    background-size: cover;
    background-position: center;
    overflow: hidden;
    height: 100vh;
}

.field-validation-error ul {
    list-style: none;
    padding: 1px;
    color: red;
    font-weight: bold;
}


.required::after {
    content: "*";
    color: red;
}

img:hover {
    transform: scale(1.05);
}

.form-label {
    font-weight: bold;
}


.field-validation-error {
    color: red;
}

.centered-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1000px;
}


.split-container {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F3E0BE;
    border-radius: 20px;
    width: 1000px;
}


.left-side {
    flex: 1;
}


.right-side {
    flex: 1;
    border-left: 1px solid #000000;
    padding: 20px;
}

.logo {
    text-align: center;
}


.logo + .form {
    margin-top: 20px;
}

.logo img {
    max-width: 300px; 
    max-height: 250px; 
}

.button-image {
    width: 150px;
    height: 75px;
}

.button-image:hover {
    cursor: pointer;
}

.account {
    text-decoration: none;
    color: black;
    font-style: italic
}

.account:hover {
    color: red;
    font-weight: bold;
}