@model PlayerRequest

<div asp-validation-summary="ModelOnly"></div>

<div class="mb-3">
    <label asp-for="Name" class="form-label"></label>
    <input asp-for="Name" class="form-control">
    <span asp-validation-for="Name"></span>
</div>
<div class="mb-3">
    <label asp-for="Experience" class="form-label"></label>
    <input asp-for="Experience" class="form-control">
    <span asp-validation-for="Experience"></span>
</div>
<div class="mb-3">
    <label asp-for="Zeni" class="form-label"></label>
    <input asp-for="Zeni" class="form-control">
    <span asp-validation-for="Zeni"></span>
</div>
