@model IList<PlayerResult>
@{
    ViewData["Title"] = "Players";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-action="Create">New Player</a>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Experience</th>
            <th>Zeni</th>
            <th>UserId</th>
            <th>Action</th>

        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <partial name="RowPartial" model="player" />
        }
    </tbody>
</table>


