@model BuyModel

@{
    ViewData["Title"] = "Confirm Buy";
}

<section>
    
    <div>
        <h1>Are you sure you want to buy @ViewBag.name ?</h1>
    </div>

    <div>
        <form asp-action="Buy" asp-controller="Shop" method="post">
            <input type="hidden" name="itemId" value="@Model.ItemId"/>
            <button type="submit" class="btn btn-danger">Yes</button>
            <a asp-action="Index" asp-controller="Shop" class="btn btn-danger">No</a>
        </form>
    </div>

</section>

@section Styles {
    <link href="@Url.Content("/css/Shop.css")" rel="stylesheet" type="text/css" />
}