@model PlayerRequest

@{
    ViewData["Title"] = $"Edit {Model.Name}";
}

<nav>
    <div class="nav-left">
        <img class="dragonball" src="https://png.pngtree.com/png-vector/20221208/ourmid/pngtree-4-dragon-ball-icon-vector-drgon-illustrtion-png-image_6515607.png" alt="Spinning Dragon Ball">
    </div>
    <div class="nav-center">
        <ul>
            <li class="logo-container logo-guide">
                <a asp-controller="Game" asp-action="Index">
                    <img class="logo trans" src="/images/logo.png" alt="logo">
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <img class="nav-img trans" src="/images/logout.png" alt="Logout">
            </button>
        </form>
    </div>
</nav>

<section>
    <h1 class="center">@ViewData["Title"]</h1>

    <form method="post">
        <partial name="CreateEditPartial" model="Model"/>

        <div class="button-container">
            <button type="submit" class="btn btn-primary trans">Save</button>
        </div>
    </form>

</section>

@section Scripts
{    
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("/css/Crud.css")" rel="stylesheet" type="text/css" />
}