@model IList<NegativeGameEventResult>
@{
    ViewData["Title"] = "NegativeGameEvents";
}

<h1>@ViewData["Title"]</h1>

<a class="btn btn-primary" asp-action="Create">New NegativeGameEvent</a>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>Name</th>
            <th>Description</th>
            <th>DefenseWithGearDescription</th>
            <th>DefenseWithoutGearDescription</th>
            <th>DefenseLoss</th>
            <th>Probability</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var negativeGameEvent in Model)
        {
            <partial name="RowPartial" model="negativeGameEvent" />
        }
    </tbody>
</table>


