@model SignInModel

@{
    var returnUrl = Url.Action("Index", "Game");
    ViewData["Title"] = "Sign in";
}

<h1>@ViewData["Title"]</h1>


<form method="post" asp-route-returnUrl="@returnUrl">
    <div asp-validation-summary="ModelOnly"></div>

    <div class="mb-3">
        <label asp-for="Username" class="form-label required">Username</label>
        <input asp-for="Username" class="form-control" placeholder="Username">
        <span asp-validation-for="Username"></span>
    </div>
    <div class="mb-3">
        <label asp-for="Password" class="form-label required">Create Password</label>
        <input asp-for="Password" class="form-control" placeholder="Create Password">
        <span asp-validation-for="Password"></span>
    </div>
    <div class="mb-3">
        <label class="form-label">
            <input asp-for="RememberMe" class="form-check-input" />
            Remember me
        </label>
        <span asp-validation-for="RememberMe"></span>
    </div>

    <button type="submit" class="btn btn-primary">Sign in</button>
    
    
</form>

<a asp-action="Register" asp-route-returnUrl="@returnUrl">I don't have an account yet.</a>

@section Styles {
    <link href="@Url.Content("/css/Register-Login.css")" rel="stylesheet" type="text/css" />
}

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}