@model PlayerRequest

@{
    ViewData["Title"] = $"Edit Player Name";
}

<nav>
    <div class="nav-left">
        <img class="dragonball" src="https://png.pngtree.com/png-vector/20221208/ourmid/pngtree-4-dragon-ball-icon-vector-drgon-illustrtion-png-image_6515607.png" alt="Spinning Dragon Ball">
    </div>
    <div class="nav-center">
        <ul>
            <li>
                <a asp-controller="Game" asp-action="Index">
                    <img class="nav-img-s trans" src="/images/game.png" alt="game" />
                </a>
            </li>
            <li class="logo-container">
                <img class="logo trans" src="/images/logo.png" alt="logo">
            </li>
            <li>
                <a asp-controller="Game" asp-action="Leaderboard">
                    <img class="nav-img-l trans" src="/images/leaderboard.png" alt="leaderboard" />
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <img class="nav-img" src="/images/logout.png" alt="Logout">
            </button>
        </form>
    </div>
</nav>

<div class="sectionplayer">
    <div class="center">
        <img class="editplayer" src="/images/editplayer.png" alt="edit player" />
    </div>

    <div class="form-container">
        <form method="post">
            <partial name="EditPartial" model="Model" />
            <button type="submit"><img class="save" src="/images/save.png" alt="save"/></button>
        </form>
    </div>
</div>

@section Scripts
{
    <partial name="_ValidationScriptsPartial" />
}

@section Styles {
    <link href="@Url.Content("/css/Inventory.css")" rel="stylesheet" type="text/css" />
}


