@model IList<PlayerResult>

@{
    ViewData["Title"] = "Leaderboard";
}

<nav>
    <div class="nav-left">
        <img class="dragonball" src="https://png.pngtree.com/png-vector/20221208/ourmid/pngtree-4-dragon-ball-icon-vector-drgon-illustrtion-png-image_6515607.png" alt="Spinning Dragon Ball">
    </div>
    <div class="nav-center">
        <ul>
            <li>
                <a asp-controller="Shop" asp-action="Index">
                    <img class="nav-img-s trans" src="/images/shop.png" alt="shop"/>
                </a>
            </li>
                
            <li class="logo-container">
                <img class="logo trans" src="/images/logo.png" alt="logo"/>
            </li>
            <li>
                <a asp-controller="Game" asp-action="Index">
                    <img class="nav-img-l trans" src="/images/game.png" alt="game"/>
                </a>
            </li>
        </ul>
    </div>
    <div class="nav-right">
        <form method="post" asp-area="" asp-controller="Account" asp-action="LogOut" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
            <button type="submit" class="nav-link btn btn-link">
                <img class="nav-img" src="/images/logout.png" alt="Logout">
            </button>
        </form>
    </div>
</nav>



<section>
    <div class="leaderboard">
        <img class="leaderboard-img" src="/images/leaderboard.png" alt="leaderboard">
    </div>
<table>
    <thead>
        <tr>
                <th><img class="tablename" src="/images/name.png" alt="name" /></th>
                <th><img class="tablename2" src="/images/experience.png" alt="experience" /></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var player in Model)
        {
            <partial name="RowPartial" model="player" />
        }
    </tbody>
</table>
</section>

@section Styles {
    <link href="@Url.Content("~/css/Leaderboard.css")" rel="stylesheet" type="text/css" />
}

@section Scripts {
    <script src="@Url.Content("~/js/leaderboard.js")"></script>
}