@model PlayerResult

<tr>
    <td class="rows">@Model.Name</td>
    <td class="rows">@Model.Experience</td>
</tr>

@section Styles {
    <link href="@Url.Content("~/css/Leaderboard.css")" rel="stylesheet" type="text/css" />
}